{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}COLLEGE ASSIST : About{% endblock %}
{% block head %}
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<style> 
        .about{
            display: flex;
            justify-content: space-between;
        }
        .imgg {
            display: flex;
            justify-content: space-around;
        }
        .link {
            display: flex;
            justify-content: space-between;
        }
        .info{
            /*background:limegreen;*/
        }
        #description{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.3em;
        }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row  text-center info"><h1>College Assist</h1></div>
    <hr></hr>
    <div class="row">
    <p id="description"> College Assist is project made to solve the problem of getting the right content and information about the course you need. 
        The crowdsourcing of information on the same platform will solve the problem of searching through various facebook groups to find the real info that matters to you.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It will save you from the unwanted stuff shared on the groups and also it will serve as the one location for getting course related queries. So to save you from the trouble college assist is here. Do provide your feedback to us <a href="https://github.com/Avinash-Yadav/collegeassist" target="_blank">here</a></p></div>
    <hr></hr>
    <div class="row text-center info"><h2>Developers</h2></div>
    <hr></hr>
    <div class="row about">
        <div class="col-md-5  well pull-left">
            <div class="row imgg"><img class="img-circle img-responsive" src="https://scontent.fpat1-1.fna.fbcdn.net/v/l/t1.0-1/p160x160/13055407_1704917856424470_4312150373619255764_n.jpg?oh=e11e1698087002fd6ffe6272d68cc78a&oe=592A25A7" ></div>
            <div class="row text-center"><strong><h2>Avinash Yadav</h2></strong></div>
            <hr></hr><hr></hr>
            <div class="row link"><div class="col-md-3"><a href="https://www.facebook.com/useravinas" target="_blank"><img src="https://simpleicons.org/icons/facebook.svg"></a></div><div class="col-md-3"><a href="https://plus.google.com/u/0/100877858780220759047" target="_blank"><img  src="https://simpleicons.org/icons/google.svg"></a></div><div class="col-md-3"><a href="https://github.com/Avinash-Yadav"  target="_blank"><img src="https://simpleicons.org/icons/github.svg"></a></div></div>
        </div>
        <div class="col-md-5  well pull-right">
            <div class="row imgg"><img class="img-circle img-responsive text-center" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-1/c458.89.362.362/s160x160/10806278_800644780005682_9042753612620893432_n.jpg?oh=7bab6a95d5df98cd7999b7644d245375&oe=59279D88" ></div>
            <div class="row text-center"><strong><h2>Rajan Chauhan</h2></strong></div>
            <hr></hr><hr></hr>
            <div class="row link"><div class="col-md-3"><a href="https://www.facebook.com/imrajanchauhan"  target="_blank"><img src="https://simpleicons.org/icons/facebook.svg"></a></div><div class="col-md-3"><a href="https://plus.google.com/u/0/+rajanchauhandiscover" target="_blank"><img src="https://simpleicons.org/icons/google.svg"></a></div><div class="col-md-3"><a href="https://github.com/rajexp" target="_blank"><img src="https://simpleicons.org/icons/github.svg"></a></div></div>
       </div>
    </div>
</div>
{% endblock %}