{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}COLLEGE ASSIST : Feed{% endblock %}
<!-- priv -->
{% block head %}
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<style>
 .vertical{
     display: flex;
     flex-flow:column;

 }
 .feed-details, .feed-title{
     padding-left:5%;
     padding-right:5%;
 }
 .feed-details{
     display: inline-flex;
     flex-flow: row;
 }
 .feed-author, .feed-time{
     padding:auto auto;
     display: flex;
    align-items: center;
    justify-content: center;
 }
</style>
{%  endblock %}
{% block content %}
                <div class="vertical">
                {% for announce in feed %}
                <div class="row">
                <div class="col-md-3"></div>
                <div class="feed col-md-6 well">
                      <div class="row feed-title"><div class="pull-left"><h3>{{ announce.title }}</h3></div></div><hr>
                      <div class="row feed-details"><div class="feed-author pull-left"><h4>{{ announce.author }}</h4></div><div class="col-md-4 feed-time pull-right"> {{ announce.updated_on }}</div></div>          
                      <div class="row"><div>{{ announce.description }}</div><div> Attachments:  <a href={{ MEDIA_URL }}{{ announce.files }} target="_blank">{{ announce.files }}</a></div></div>
                </div>
                
                <div class="col-md-3"></div>
                </div>
                {% endfor %}
                </div>
{% endblock %}