{% extends "base.html" %}
{% block title %}COLLEGE ASSIST{% endblock %}
<!-- priv -->
{% block head %}
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
{%  endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
<table class="table">
    <tr><th colspan="2">Profile Info</th></tr>
    <tr><td>Name</td><td>{{ user.first_name }} {{ user.last_name }}</td></tr>
    <tr><td>Email</td><td>{{ user.email }}</td></tr>
    <tr><td>Last Login</td><td>{{ user.last_login }}</td></tr>
    <tr><td>Semester</td><td>{% if student.semester %}{{ student.semester }}{% else %}<span class="danger">Please provide your semester</span>{% endif %}</td></tr>
    <tr><td>Registration No</td><td>{% if student.registration_no %}{{ student.registration_no }}{% else %}<span class="danger">Please provide your registration no</span>{% endif %}</td></tr>
</table>
    </div><div class="col-md-4"></div>
</div>
{% endblock %}